/* Import custom fonts and define variables here */
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap");

/* Reset default styles and define base font */
* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

body {

}

/* Define your color variables here */
:root {
    --mainColor: #29335c;
    --mainColorLight: #5767aa;
    --secondaryColor: #db2b39;
    --textColor: #eee;
}

/* Navigation bar styling */
.navbar {
    display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}


.navbar ul {
    display: flex;
    list-style: none;
    margin-top: 39px;
    padding: 0;
    justify-content: flex-end; /* Align list items to the right */
}

.navbar a {
    margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

/* Hover effect on navigation links */
.navbar a:hover {
    color: var(--secondaryColor);
}

/* Navigation button for mobile */
.navbar .nav-btn {
    padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

/* Styling for header and nav elements */
header div,
.navbar {
    display: flex;
    align-items: center;
}

/* Responsive design for screens up to 1024px */
@media only screen and (max-width: 1024px) {
    /* Make the navigation button visible */
    .navbar .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    /* Create a full-screen mobile navigation menu */
    .navbar nav {
        position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
    }

    /* Reveal the mobile navigation menu */
    .navbar.responsive .nav-btn {
        transform: translateY(100vh);
    }

    /* Close button for the mobile menu */
    .navbar nav .nav-close-btn {
        position: absolute;
		top: 2rem;
		right: 2rem;
    }

    /* Increase font size for mobile navigation links */
    .navbar nav a {
        font-size: 1.5rem;
    }
}
