/* Importing a custom font */
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap");
/* Resetting default styles and defining base font */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: "Yeseva One", sans-serif;
}

/* Custom color variables */
:root {
	--mainColor: #0746ab;
	--mainColorLight: #4cf3f3;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

/* Navigation bar styling */
.navbar {
	

	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
    margin: 4px;
	background-color: var(--mainColor);
	color: var(--textColor);
}

/* Navigation links */
nav a {
	margin: 0 1rem;
	padding-left: 40px;
	color: var(--textColor);
	text-decoration: none;
    font-family: "Libre Caslon Text", serif;
}

/* Hover effect on navigation links */
nav a:hover {
	color: var(--secondaryColor);
}

/* Navigation button for mobile */
.navbar .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

/* Styling for header and nav elements */
header div,
nav {
	display: flex;
	align-items: center;
}

/* Responsive design for screens up to 1024px */
@media only screen and (max-width: 1024px) {
	/* Make the navigation button visible */
	.navbar .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	/* Create a full-screen mobile navigation menu */
	nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
		transform: translateY(-100vh);
	}

	/* Reveal the mobile navigation menu */
	.navbar .responsive_nav {
		transform: none;
	}

	/* Close button for the mobile menu */
	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	/* Increase font size for mobile navigation links */
	nav a {
		font-size: 1.7rem;
	}
}
